<div class="row">
<div class="col-md-12">
        <h2>Cars</h2>
        <a href="/cars/add" class="btn btn-success pull-right">Add New Car</a>
        <hr />
{{#if cars}}
	<div class="table-reponsive">
	<table class="table">
		<thead>
		<tr>
			<th class="col-md-2">Car&nbsp;Make</th>
			<th class="col-md-3">Car&nbsp;Model</th>
			<th class="col-md-2">Car&nbsp;Year</th>
			<th class="col-md-3">Car&nbsp;VIN</th>
                        <hr></hr>
		</tr>
		</thead>
		<tbody>
{{#each cars}}
		<tr>
			<td class="col-md-2"><a
			href="/stores?retailer={{make}}">{{make}}</a></td>
			<td class="col-md-3"><a
                        href="/car/{{vin}}">{{model}}</a></td>
			<td class="col-md-2"><a
			href="/cars?year={{year}}">{{year}}</a></td>
                        <td><a href="/people?vin={{vin}}">{{vin}}</a></td>
                        <td><a href="/cars/delete/{{vin}}" class="btn
                        btn-danger">remove</a>
		</tr>
{{/each}}
		</tbody>
	</table>
	</div>
{{else}}
        {{#if errorMessage}}
        <div class="alert alert-danger alert-dismissible">
                <strong> Error: </strong>
                {{errorMessage}}
        </div>
        {{/if}}

        {{#if information}}
        <div class="alert alert-info alert-dismissible">
                <strong> Info: </strong>
                {{information}}
        </div>
        {{/if}}
{{/if}}

</div>
</div>
