<div class="row">
<div class="col-md-12">
        <h2>People</h2>
        <a href="/people/add" class="btn btn-success pull-right">Add New Person</a>
        <hr />
{{#if people}}
	<table class="table">
		<thead>
		<tr>
			<th class="col-md-2">Person&nbsp;ID</th>
			<th class="col-md-2">Full&nbsp;Name</th>
			<th class="col-md-2">Phone&nbsp;Number</th>
			<th class="col-md-3">Address</th>
			<th class="col-md-3">Car&nbsp;Vin</th>
		</tr>
		</thead>
		<tbody>
{{#each people}}
		<tr>
			<td class="col-md-2">{{id}}</td>
			<td class="col-md-2"><a
			href="/person/{{id}}">{{first_name}}&nbsp;{{last_name}}</a></td>
			<td class="col-md-2"><a href="tel:{{phone}}">{{phone}}</a></td>
			<td class="col-md-3">{{address}}&nbsp;{{city}}</td>
			<td class="col-md-3"><a href="/cars?vin={{vin}}">{{vin}}</a></td>
                        <td> <a href="/people/delete/{{id}}" class="btn
                        btn-danger">remove</a>
		</tr>
{{/each}}
		</tbody>
	</table>
{{else}}
        {{#if errorMessage}}
        <div class="alert alert-danger alert-dismissible">
                <strong> Error: </strong>
                {{errorMessage}}
        </div>
        {{/if}}

        {{#if information}}
        <div class="alert alert-info alert-dismissible">
                <strong> Info: </strong>
                {{information}}
        </div>
        {{/if}}
{{/if}}

</div>
</div>
