<div class="row">
<div class="col-md-12">
        <legend><h2>Cars</h2></legend>
        <hr />
{{#if cars}}
	<div class="table-reponsive">
	<table class="table">
		<thead>
		<tr>
			<th class="col-md-2">Car&nbsp;ID</th>
			<th class="col-md-2">Car&nbsp;Make</th>
			<th class="col-md-3">Car&nbsp;Model</th>
			<th class="col-md-2">Car&nbsp;Year</th>
			<th class="col-md-3">Car&nbsp;VIN</th>
		</tr>
		</thead>
		<tbody>
{{#each cars}}
		<tr>
			<td class="col-md-2">{{id}}</td>
			<td class="col-md-2"><a
			href="/stores?retailer={{make}}">{{make}}</a></td>
			<td class="col-md-3">{{model}}</td>
			<td class="col-md-2"><a
			href="/cars?year={{year}}">{{year}}</a></td>
			<td class="col-md-3"><a
			href="/people?vin={{vin}}">{{vin}}</a></td>
		</tr>
{{/each}}
		</tbody>
	</table>
	</div>
{{else}}
		{{#errMsg}}{{message}}{{/errMsg}}
{{/if}}

</div>
</div>
